:root {
  --color-grey-100: #ced4da;
  --color-grey-200: #6b7280;
  --color-grey-300: #0c0f0a;
  --color-accent: #591f0a;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* General styles */

li {
  list-style: none;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--color-grey-300);
}

img {
  display: block;
  max-height: 100%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  color: var(--color-grey-300);
}

input {
  font-family: "Inter", sans-serif;
  color: var(--color-grey-300);
  font-size: 16px;
  border: 1px solid var(--color-grey-100);
  padding: 8px 40px;
  border-radius: 8px;
  height: 32px;
  line-height: 32px;
  width: 100%;
}

input::placeholder {
  font-family: "Inter", sans-serif;
  color: var(--color-grey-300);
  font-size: 16px;
  font-weight: bolder;
}

input:focus {
  outline: none;
}

form {
  position: relative;
  width: 30%;
}

.material-icons {
  position: absolute;
  color: var(--color-grey-300);
  top: 14px;
  left: 8px;
}

input:focus::placeholder,
input:focus ~ .material-icons {
  color: var(--color-accent);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Nav bar */

.logo a {
  display: flex;
  align-items: center;
  font-family: "Epilogue", sans-serif;
}

.logo span {
  margin-top: 5px;
}

.logo img {
  height: 50px;
  width: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.nav-home .logo a,
.nav-home .nav-list a {
  color: white;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-bar input {
  width: unset;
  height: 24px;
  border-radius: 24px;
  padding: 8px 50px;
  box-shadow: 0px 3px 13px -11px rgba(0, 0, 0, 0.4);
}

.nav-bar .material-icons {
  top: 10px;
  left: 16px;
}

.nav-bar::after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid var(--color-grey-100);
  width: 100vw;
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  bottom: 0px;
}
/* Header */

.header {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/header-img.jpg"),
    linear-gradient(var(--color-grey-300), var(--color-grey-200));
  background-position: center;
  background-size: cover;
  width: 100vw;
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  position: relative;
  top: -89px;
}

.header:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.header form {
  flex: unset;
  z-index: 1000;
  position: relative;
}

/* Current Events */
.main-events {
  position: relative;
  top: -88px;
  padding: 16px 0px;
}

.current-events-list {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  overflow: scroll;
}

.event-card {
  cursor: pointer;
  height: 350px;
  min-width: 380px;
}

.event-card .image-container {
  display: block;
  border-radius: 16px;
  height: 250px;
  overflow: hidden;
}

.event-card img {
  width: 100%;
  border-radius: 16px;
}

.event-card:hover img {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.event-name {
  font-weight: bolder;
}

.date-location {
  color: var(--color-grey-200);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  border: 1px solid var(--color-grey-100);
  padding: 8px;
  border-radius: 24px;
  display: flex;
  gap: 16px;
}

.icon {
  color: var(--color-grey-200);
}

.icon:active,
.icon:focus {
  color: var(--color-grey-300);
}

/* Ticket search */
.search-form {
  flex: 0 0 60%;
}

/* Sell Tickets */
.sell-ticket-section {
  position: relative;
}
.action-btn {
  border: 1px solid var(--color-grey-100);
  padding: 8px 16px;
  border-radius: 8px;
}

.form-container {
  position: absolute;
  top: -140px;
  width: 100vw;
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.sell-ticket-form {
  border: 1px solid var(--color-grey-100);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 3px 13px -11px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.sell-ticket-form label {
  display: block;
}

.sell-ticket-form input {
  margin-bottom: 16px;
  padding: 8px;
  height: 24px;
  width: 94%;
}

.sell-ticket-form .buttons-container {
  justify-content: flex-end;
  border: none;
}

/* Sell Tickets Card */
.sell-tickets-card-list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}

.sell-tickets-card {
  text-align: center;
  border: 1px solid var(--color-grey-100);
  border-radius: 8px;
  width: 450px;
  padding: 8px;
  box-shadow: 0px 3px 13px -11px rgba(0, 0, 0, 0.4);
}

.sell-tickets-card h4 {
  color: var(--color-grey-300);
  font-size: 20px;
}

.sell-tickets-card .icon {
  height: 50px;
  width: 50px;
  color: var(--color-accent);
}
