:root {
  --color-grey-100: #ced4da;
  --color-grey-200: #6b7280;
  --color-grey-300: #0c0f0a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* General styles */

li {
  list-style: none;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--color-grey-300);
}

img {
  display: block;
  max-height: 100%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  color: var(--color-grey-300);
}

/* Nav bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Current Events */
.current-events-list {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  overflow: scroll;
}

.event-card {
  cursor: pointer;
  height: 350px;
  min-width: 380px;
}

.event-card .image-container {
  display: block;
  border-radius: 16px;
  height: 250px;
  overflow: hidden;
}

.event-card img {
  width: 100%;
  border-radius: 16px;
}

.event-card:hover img {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.event-name {
  font-weight: bolder;
}

.date-location {
  color: var(--color-grey-200);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  border: 1px solid var(--color-grey-100);
  padding: 8px;
  border-radius: 24px;
  display: flex;
  gap: 16px;
}

.icon {
  color: var(--color-grey-200);
}

.icon:active,
.icon:focus {
  color: var(--color-grey-300);
}
